src/main/resources/wsdl/CreateFileServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://soap.springbootcamelesb.yw.org/" name="CreateFileServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://soap.springbootcamelesb.yw.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://soap.springbootcamelesb.yw.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array">

      <xs:import namespace="http://jaxb.dev.java.net/array"/>

      <xs:element name="createFile" type="tns:createFile"/>

      <xs:element name="createFileResponse" type="tns:createFileResponse"/>

      <xs:element name="fileCreationStatus" type="tns:fileCreationStatus"/>

      <xs:complexType name="createFile">
        <xs:sequence>
          <xs:element name="fileName" type="xs:string" minOccurs="0"/>
          <xs:element name="fileContent" type="xs:string" minOccurs="0"/>
          <xs:element name="createdForPersonName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createFileResponse">
        <xs:sequence>
          <xs:element name="status" type="tns:fileCreationStatus" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="fileCreationStatus">
        <xs:sequence>
          <xs:element name="createdForPersonName" type="xs:string" minOccurs="0"/>
          <xs:element name="creationTime" type="tns:simpleDateFormat" minOccurs="0"/>
          <xs:element name="fileName" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="simpleDateFormat">
        <xs:complexContent>
          <xs:extension base="tns:dateFormat">
            <xs:sequence>
              <xs:element name="2DigitYearStart" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="dateFormatSymbols" type="tns:dateFormatSymbols" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="dateFormat" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:format">
            <xs:sequence>
              <xs:element name="calendar" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="lenient" type="xs:boolean"/>
              <xs:element name="numberFormat" type="tns:numberFormat" minOccurs="0"/>
              <xs:element name="timeZone" type="tns:timeZone" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="format" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="dateFormatSymbols">
        <xs:sequence>
          <xs:element name="amPmStrings" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="eras" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="localPatternChars" type="xs:string" minOccurs="0"/>
          <xs:element name="months" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="shortMonths" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="shortWeekdays" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="weekdays" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="zoneStrings" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="numberFormat" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:format">
            <xs:sequence>
              <xs:element name="currency" type="tns:currency" minOccurs="0"/>
              <xs:element name="groupingUsed" type="xs:boolean"/>
              <xs:element name="maximumFractionDigits" type="xs:int"/>
              <xs:element name="maximumIntegerDigits" type="xs:int"/>
              <xs:element name="minimumFractionDigits" type="xs:int"/>
              <xs:element name="minimumIntegerDigits" type="xs:int"/>
              <xs:element name="parseIntegerOnly" type="xs:boolean"/>
              <xs:element name="roundingMode" type="tns:roundingMode" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="currency" final="extension restriction">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="timeZone" abstract="true">
        <xs:sequence>
          <xs:element name="ID" type="xs:string" minOccurs="0"/>
          <xs:element name="rawOffset" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="roundingMode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="UP"/>
          <xs:enumeration value="DOWN"/>
          <xs:enumeration value="CEILING"/>
          <xs:enumeration value="FLOOR"/>
          <xs:enumeration value="HALF_UP"/>
          <xs:enumeration value="HALF_DOWN"/>
          <xs:enumeration value="HALF_EVEN"/>
          <xs:enumeration value="UNNECESSARY"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="createFile">
    <part name="parameters" element="tns:createFile"/>
  </message>
  <message name="createFileResponse">
    <part name="parameters" element="tns:createFileResponse"/>
  </message>
  <portType name="CreateFileService">
    <operation name="createFile">
      <input wsam:Action="http://soap.springbootcamelesb.yw.org/CreateFileService/createFileRequest" message="tns:createFile"/>
      <output wsam:Action="http://soap.springbootcamelesb.yw.org/CreateFileService/createFileResponse" message="tns:createFileResponse"/>
    </operation>
  </portType>
  <binding name="CreateFileServicePortBinding" type="tns:CreateFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CreateFileServiceService">
    <port name="CreateFileServicePort" binding="tns:CreateFileServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

