src/main/resources/wsdl/CreateFileServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://soap.springbootcamelesb.yw.org/" name="CreateFileServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://soap.springbootcamelesb.yw.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://soap.springbootcamelesb.yw.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="createFile" type="tns:createFile"/>

      <xs:element name="createFileResponse" type="tns:createFileResponse"/>

      <xs:element name="fileCreationStatus" type="tns:fileCreationStatus"/>

      <xs:complexType name="createFile">
        <xs:sequence>
          <xs:element name="fileName" type="xs:string" minOccurs="0"/>
          <xs:element name="fileContent" type="xs:string" minOccurs="0"/>
          <xs:element name="createdForPersonName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="createFileResponse">
        <xs:sequence>
          <xs:element name="status" type="tns:fileCreationStatus" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="fileCreationStatus">
        <xs:sequence>
          <xs:element name="createdForPersonName" type="xs:string" minOccurs="0"/>
          <xs:element name="creationTime" type="xs:string" minOccurs="0"/>
          <xs:element name="fileName" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="createFile">
    <part name="parameters" element="tns:createFile"/>
  </message>
  <message name="createFileResponse">
    <part name="parameters" element="tns:createFileResponse"/>
  </message>
  <portType name="CreateFileService">
    <operation name="createFile">
      <input wsam:Action="http://soap.springbootcamelesb.yw.org/CreateFileService/createFileRequest" message="tns:createFile"/>
      <output wsam:Action="http://soap.springbootcamelesb.yw.org/CreateFileService/createFileResponse" message="tns:createFileResponse"/>
    </operation>
  </portType>
  <binding name="CreateFileServicePortBinding" type="tns:CreateFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CreateFileServiceService">
    <port name="CreateFileServicePort" binding="tns:CreateFileServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

